html , body{
	margin:0;
	padding:0;

	background-color: rgb(192, 222, 237);
	font-family: "Helvetica Neue", "Arial", sans-serif;
}
html{
	height:100vh;
}

.container-fluid{
	height:100vh;
}

.row{
	height:100%;
}
