form{
	width:60%;
	margin:0 auto;
	padding-top: 10%;
	max-width: 500px;
}


/* Funzione per mostrare la Password

function showPassword() {
  var x = document.getElementById("exampleInputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

onclick="showPassword()" To add to the element with id= "exampleCheck1" */
